.App {
  text-align: center;
}

.circle-name-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.circle-name{
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 15px;
  margin-right: 5px;
}

.circle-name.green{
  background-color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiDataGrid-root{
  height: 200px;
  width: 500px;
  color: white !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
